$primary: #0c134f;
$second: #1d267d;
$third: #5c469c;
$fourth: #d4adfc;

html {
  font-size: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  height: 100vh;
  width: 100%;
}
main {
  background: rgb(29, 38, 125);
  background: linear-gradient(
    144deg,
    rgba(29, 38, 125, 1) 26%,
    rgba(29, 38, 125, 1) 45%,
    rgba(12, 19, 79, 1) 74%
  );
  .container {
    height: 50rem;
    width: 100rem;
    position: relative;
    border-radius: 5rem;
    background: rgb(212, 173, 252);
    background: linear-gradient(
      144deg,
      rgba(212, 173, 252, 1) 10%,
      rgba(92, 70, 156, 1) 91%
    );
    .search-box {
      position: absolute;
      top: 0;
      height: 5rem;
      input:text {
        background-color: red;
      }
    }
  }
}
